.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #2867b2;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.header h2 {
  color: #fff;
  padding: 10px 20px;
}
.header .logout {
  padding: 10px;
  margin-right: 20px;
  border: none;
  outline: none;
  color: #2867b2;
  cursor: pointer;
  border-radius: 5px;
}
